*{
	font-family: Arial, Verdana, sans-serif;
	color: ;
	text-align: center;
}

#nav, #feature, .artical, #footer{
	background-color: ;
	margin-top: ;
	padding: ;
}


#feature, .artical{
	height: ;		
}
li {
	
	padding: ;
}